/*css styles reset*/
body,header,main,nav,footer {
    margin: 0;
    padding: 0;
    border: 0;
}

/*body styles*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;
    max-width: 100%;
}

/*header styles*/
header {
    background-color:darkblue;
    border: solid black;
    display: inline-block;
}
section {
    display:inline-block;
}
figure {
    box-sizing: content-box;

}

/*styles for Nav*/
nav ul a {
    list-style: none;
    color: white;
    float: left;
}
nav ul li a {
    color: #334445
}
nav ul li a:hover {
    color:blue
}

p {
    color: burlywood;
    font-family: italic;
}
img {
    max-width: 100%;
    padding: 2%;
}
.left {
    border: solid 20px;
    max-width: 100%;
    padding: 20px;
}
main {
    clear: left;
}
.menu-item {
    border: solid black;
    padding: 50px;
    display: block;
}
.action {
    color: red;
    font-weight: bold;
}

footer {
    background-color: darkblue;
    color: white;
    text-align: center;
    border: #334445 solid 20px;
    border-radius: 2px;
}
