/* css reset*/
main, body, nav, footer, header {
    margin: 0;
    border:0;
    padding: 0;

}
/*
 * Custom CSS
 */

:root {
  --bs-body-bg: var(--bs-gray-100);
}
.form-label {
position: relative;
background-color: bisque;
}
.form-control {
    box-sizing: border-box;
    box-shadow: 2px, 2px,2px;
    color:black;
    font-size: xx-large;
}
