/*Elizabeth Ahart
Mid-term
10-15-25
*/

/*CSS reset*/
body,main,header,footer,nav {
    margin: 0;
    padding:0;
    border:0;
}
* {
    box-sizing: border-box;
}

header {
	font-family: Verdana, Arial, sans-serif;
	padding: 2%;
    position: -webkit-sticky;
    position: sticky;
    height: 590x;
    background-color: rgba(162, 158, 158, 0.5);
}
video {
    max-width: 100%;
    width: 100%;
    margin: 0;
    display:flex;
    align-self: stretch;
    
}
em {
    color: orange;
}
.cta-content {
    position:center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
 
}
.rotate {
    transform: rotate(90deg);
    display: flex;
    flex-direction: row-reverse;
    position: flex-end;
    padding: 2px;
    margin: 2px;
    top: auto;
}
/*animation to apply the transparent feel to the cta content*/
@-webkit-keyframes my-animation {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes my-animation {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.call-to-action {
    flex-direction: column-reverse;
    display: flex;
    background-image: linear-gradient(lightgray,white,gray);
    float: left;
    clear: left;
   
}
/*Text animation to lay the text over the vid as it plays*/
@-webkit-keyframes text-animation {
    0%{font-size: 1em;}
    50%{font-size: 2em;}
    100%{font-size: 1.35em;}
}
@keyframes text-animation {
    0%{font-size: 1em;}
    50%{font-size: 2em;}
    100%{font-size: 1.35em;}
}
    
.jumbotron {
    height: 50vh;
    max-width: 100%;
    width: 100%;
    box-shadow:2px 2px 2px 2px lightgray;
    align-items:center;
    align-content: center;
    display:flex;
    flex-direction: row-reverse;
    background-image: linear-gradient(lightgrey,white,grey,.5);
    font-size: large;
	font-family: Verdana, Arial, sans-serif;
    font-style:italic;
    font-weight: bolder;
    -webkit-animation-name: text-animation;
    animation-name: text-animation;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
}
li {
    list-style-type:none;
}
/*Primary blue under link class for link to 5k3kRUN*/
.link {
    flex-direction:row;
    display:block;
    justify-content: space-around;
    position:center;
    text-align: center;
    margin: 10px;
    padding: 2px;
}
iframe {
    justify-content: center;
    align-self: flex-end;
    flex-direction: column-reverse;
    max-width: 100%;
}
section {
    max-width: 100%;
}
/*The section that holds the link class with5k3kRUN*/
#features{
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-style: italic;
    font-family: Verdana, Arial, sans-serif;
    box-shadow:2px 2px 2px 2px lightgray;
}
h1 {
    font-style: italic;
    font-weight: bolder;

}
/* Style rules for nav area */
nav {

	padding: 0.5%;
}

nav li {
	display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    position:relative;
}
/*Nav and logo inside header*/
nav li a {
	color: lightgray;
	padding: 1% 3%;
	text-decoration: none;
    display:flex;
}
nav li a:hover {
    color:black;
}
/*All classes that are on active to mimic the original template's effects on Text*/
.active {
    color: orange;
}
li a {
    color: black;
}
li a:hover {
    color: blue;
}
/*Logo and box*/
.logo {
    color: orange;
    font-size: xx-large;
    display:block;
    font-style:italic;
    font-weight: bolder;
    box-shadow:2px 2px 2px 2px lightgray;
    margin:20px;
}
/* Box class is inside the logo to mimic the original templates design*/
.box {
     height: 50px;
     width: 150px;
     background-color: orange;
     margin:5px;
}
footer {
    background-image: linear-gradient(lightgray,white,gray);
    font-family: Verdana, Arial, sans-serif;
    font-size: xx-large;
    max-width: 100%;
    display:flex;
    width: 100%;
    flex-direction: wrap-reverse;
    align-content: center;
    align-items: center;
    padding: 2%;
}
footer p {
        box-shadow:2px 2px 2px 2px lightgray;
        height:7vh;
}
.col-lg-3 {
    background-image: linear-gradient(lightgray,white,gray);
    border: black 2px;
}
/* Media Query for Desktop Viewport */
@media screen and (min-width: 1024px), print {
.col-lg-3 {
	grid-template-columns: auto auto auto auto;
}

    
}
@media screen and (min-width: 650px), print {
    section {
		background-color: #183440;
		color: #fff;
		margin-top: 1%;
		padding: 2%;
	}

}